<span class="octicon pointer position-fixed settings-button" appOcticon="gear" width="33px" (click)="showSettings()" title="Settings"></span>
<div class="container-fluid" appThemeItem>
	<div class="d-flex flex-wrap justify-content-center">
		<div>
			<app-panel *ngIf="panelSettings?.swPanelGmail !== false" panelName="gmail" panelTitle="Gmail" panelLogo="assets/img/gmaillogo.png"></app-panel>
			<app-panel *ngIf="panelSettings?.swPanelQuotes !== false" panelName="quotes" panelTitle="Quotes" panelLogo="assets/img/quoteslogo.png"></app-panel>
			<app-panel *ngIf="panelSettings?.swPanelFinancial !== false" panelName="financial" panelTitle="Financials"></app-panel>
		</div>
		<div>
			<app-panel *ngIf="panelSettings?.swPanelYoutube !== false" panelName="youtube" panelTitle="Youtube" panelLogo="assets/img/youtubelogo.png"></app-panel>
			<app-panel *ngIf="panelSettings?.swPanelPodcasts !== false" panelName="podcasts" panelTitle="Podcasts"></app-panel>
		</div>
		<div>
			<app-panel *ngIf="panelSettings?.swPanelWeather !== false" panelName="weather" panelTitle="Weather" panelLogo="assets/img/weatherlogo.png"></app-panel>
			<app-panel *ngIf="panelSettings?.swPanelTabs !== false" panelName="guitar-tabs" panelTitle="Tabs" panelLogo="assets/img/guitartabslogo.png"></app-panel>
		</div>
		<div>
			<app-panel *ngIf="panelSettings?.swPanelTwitch !== false" panelName="twitch" panelTitle="Twitch" panelLogo="assets/img/twitchlogo.png"></app-panel>
			<app-panel *ngIf="panelSettings?.swPanelGoogleDrive !== false" panelName="drive" panelTitle="Google Drive"></app-panel>
		</div>
		<!-- <app-panel panelName="links" panelTitle="Links"></app-panel>
		<app-panel panelName="voice" panelTitle="Google Voice"></app-panel>
		<app-panel panelName="trails" panelTitle="Trails"></app-panel> -->
	</div>
</div>