.youtube-panel-width {
    width:400px;
}

.youtube-panel-loading {
    height:247px;
    padding:100px;
}

.tab-content {
    height: 206px;
    background-color: #333333;
}

.sub-header {
    font-size: 10px;
    color:grey;
}

.list-group-item {
    background-color: #333333;
}

.list-group-item.selected {
    background-color: #505050;
}

.nav-link.active {
    background-color: #333333;
    border-color: #333333;
    color:#f8f9fa;
}

.nav-link:not(.active) {
    background-color:#505050;
    color:#f8f9fa;
}

.nav-tabs {
    border: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #505050; 
}

::-webkit-scrollbar-thumb {
    background: #333333; 
}

::-webkit-scrollbar-thumb:hover {
    background: #f8f9fa; 
}