<div mat-dialog-title class="d-flex m-0">
	<h4 appThemeItem>Settings</h4>
	<div class="ml-auto">
		<span class="octicon pointer pl-2 align-top" (click)="closeDialog()" title="Hotkey: Esc" appOcticon="x" width="18px" appThemeItem></span>
	</div>
</div>
<mat-dialog-content appThemeItem>
	<h5 class="mt-2" appThemeItem>Theme</h5>
	<ng-container *ngFor="let s of settingItems">
		<div *ngIf="s.type == 'theme'" class="custom-control custom-switch">
			<input [attr.checked]="s.checked ? 'checked' : null" type="checkbox" class="custom-control-input" id="{{s.id}}" (change)="changeSetting($event)" tabindex="-1">
			<label class="custom-control-label" for="{{s.id}}" appThemeItem>{{s.text}}</label>
		</div>
	</ng-container>
	<h5 class="mt-3" appThemeItem>Panels</h5>
	<ng-container *ngFor="let s of settingItems">
		<div *ngIf="s.type == 'panel'" class="custom-control custom-switch">
			<input [attr.checked]="s.checked ? 'checked' : null" type="checkbox" class="custom-control-input" id="{{s.id}}" (change)="changeSetting($event)" tabindex="-1">
			<label class="custom-control-label" for="{{s.id}}" appThemeItem>{{s.text}}</label>
		</div>
	</ng-container>
</mat-dialog-content>