.twitch-panel-width {
    width:400px;
}

#list-twitch-channels {
    height:206px;
}

#twitch-chat-panel {
	height:300px;
}

#twitchChannelList li div, .octicon {
    cursor:pointer;
}

#twitchChatVideoOverlay {
	height:300px;
	width:250px;
	display:none;
	left:calc(100% - 250px);
	top:calc(50% - 200px);
	z-index:1040;
}

#twitchChatVideoOverlay div {
	flex:1; 
	height:100%;
	overflow:auto;
	display:flex;
	flex-direction:column-reverse;
}

.nav-link.active {
    background-color:#232127;
    border-color:#232127;
}

.nav-link:not(.active) {
    background-color:rgb(100, 65, 164);
}

.badge-twitch {
    background-color:rgb(14, 155, 216);
    color:#fff;
}

.twitch-dark-purple-bkgrnd {
    background-color:#232127;
}

p, small, li, .nav-link, .nav-link.active {
    color: #b8b5c0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #505050; 
}

::-webkit-scrollbar-thumb {
    background: #232127; 
}

::-webkit-scrollbar-thumb:hover {
    background: #b8b5c0; 
}