<div>
  <iframe
    [src]="streamUrl"
    height="300"
    width="400"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true">
  </iframe>
  <div>
    <button (click)="authenticate()">Authenticate</button>
    <button (click)="revokeTwitchAuthentication()">Logout</button>
    <button (click)="getUserChannels()">Get Channels</button>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="list-twitch-channels-list" data-toggle="list" href="#list-twitch-channels" role="tab" aria-controls="channels">Channels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list-twitch-chat-list" data-toggle="list" href="#list-twitch-chat" role="tab" aria-controls="twitch-chat">Chat</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="list-twitch-channels" role="tabpanel" aria-labelledby="list-twitch-channels-list">
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-0" style="cursor:pointer;" *ngFor="let followedStream of followedStreams" (click)=showStream(followedStream.channel.name)>
          <img src={{followedStream.channel.logo}} height="42" width="42">
          <span>{{followedStream.channel.display_name}}</span> {{followedStream.game}}
          <span class="badge badge-primary badge-pill">{{followedStream.viewers}}</span>
        </li>
      </ul>
    </div>
    <div class="tab-pane fade" id="list-twitch-chat" role="tabpanel" aria-labelledby="list-twitch-chat-list">
        <iframe frameborder="0"
          scrolling="no"
          id="chat_embed"
          src="https://www.twitch.tv/embed/zeuxo/chat"
          height="500"
          width="400">
        </iframe>
    </div>
  </div>
</div>