<div class="gmail-panel-width">
	<div [hidden]="!isPanelLoaded">
		<button class="btn btn-success btn-block" *ngIf=!panelAuthenticated
			(click)="authenticate()">Authenticate</button>
		<h5 *ngIf="panelAuthenticated">Unread Emails ({{unreadThreads ? unreadThreads.length : 0}})</h5>
		<div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item p-0 bg-transparent" *ngFor="let unreadThread of unreadThreads">
					<div *ngFor="let message of unreadThread.messages; first as isFirst">
						<div class="bold bg-white p-1"
							[ngClass]="{'pointer': unreadThread.messages.length > 1}" *ngIf="isFirst"
							data-toggle="collapse"
							[attr.data-target]="unreadThread.messages.length > 1 ? '#gmailCollapse' + unreadThread.id : null" appThemeItem>
							<p class="m-0 d-block text-truncate w-100 font-weight-bold" title={{message.subject}} appThemeItem>
								<span class="multi-thread-email-count align-middle"
									*ngIf="unreadThread.messages.length > 1">({{unreadThread.messages.length}})</span>
								{{message.subject}}
							</p>
							<p class="m-0 sub-header d-block text-truncate w-100">{{message.from}}</p>
							<p class="m-0 sub-header d-block text-truncate w-100">{{message.date | date:'medium'}}</p>
							<small class="d-block text-truncate w-100"
								[attr.title]="message.snippet | htmlEntitiyDecode" appThemeItem>{{message.snippet | htmlEntitiyDecode}}</small>
						</div>
					</div>
					<div class="collapse" id="gmailCollapse{{unreadThread.id}}">
						<div class="mb-1">
							<div *ngFor="let message of unreadThread.messages; first as isFirst; let i = index">
								<div *ngIf="!isFirst" [ngClass]="{'border-top': i == 1}"
									class="ml-2 bg-white p-1 border-left border-bottom" appThemeItem>
									<p class="m-0 d-block text-truncate w-100 font-weight-bold"
										title={{message.subject}} appThemeItem>{{message.subject}}</p>
									<p class="m-0 sub-header d-block text-truncate w-100">{{message.from}}</p>
									<p class="m-0 sub-header d-block text-truncate w-100">
										{{message.date | date:'medium'}}</p>
									<small class="d-block text-truncate w-100"
										title={{message.snippet}} appThemeItem>{{message.snippet}}</small>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div [hidden]="isPanelLoaded" class="text-center p-5">
		<div class="spinner-border text-dark" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</div>