<div class="border shadow m-3 mb-4 rounded" appThemeItem>
	<div class="p-2 text-center position-relative">
		<img *ngIf="panelLogo" height="40" src="{{panelLogo}}">
		<h1 *ngIf="!panelLogo" class="border-bottom text-center">{{panelTitle}}</h1>
		<span class="octicon pointer position-absolute p-2 refresh-icon text-dark" appOcticon="sync" width="18px" (click)="refreshPanel()" title="Refresh" appThemeItem></span>
	</div>
	<div [ngSwitch]="panelName" class="{{panelName}}-panel p-3 rounded-bottom">
		<app-gmail #panel *ngSwitchCase="'gmail'"></app-gmail>
		<app-youtube #panel *ngSwitchCase="'youtube'"></app-youtube>
		<app-twitch #panel *ngSwitchCase="'twitch'"></app-twitch>
		<app-weather #panel *ngSwitchCase="'weather'"></app-weather>
		<app-quotes #panel *ngSwitchCase="'quotes'"></app-quotes>
		<app-guitar-tabs #panel *ngSwitchCase="'guitar-tabs'"></app-guitar-tabs>
	</div>
</div>