.twitch-panel {
    background-color: #4b367c;
}

.gmail-panel, .quotes-panel, .weather-panel, .guitar-tabs-panel {
    background-color: rgba(242, 245, 245, 0.8);
}

.youtube-panel {
    background-color: #1c1c1c;
}