<ng-container *ngIf="enableColorPicker">
	<span [(cpToggle)]="cpToggle" [(colorPicker)]="cpColor" [cpColorMode]="'grayscale'" [cpPosition]="'left'"
	[cpDisableInput]="'true'" class="octicon pointer ml-2" appOcticon="paintcan" color="#fff" width="14px" 
	(click)="cpToggle=!cpToggle" (colorPickerChange)="changeCpColor($event)" title="Background Color"></span>
</ng-container>
<span *ngIf="isFullscreen" class="octicon pointer pl-1 pt-1" appOcticon="arrow-both" color="#fff" width="18px" (click)="widescreenVideo();" title="Widescreen"></span>
<span *ngIf="!isFullscreen" class="octicon pointer pl-1" appOcticon="screen-full" color="#fff" width="18px" (click)="fullscreenVideo();" title="Fullscreen"></span>
<span class="octicon pointer pl-1" appOcticon="screen-normal" color="#fff" width="18px" (click)="normalscreenVideo();" title="Normal Screen"></span>