.twitch-panel-width {
    width:400px;
}

#list-twitch-channels {
    height:206px;
}

#twitch-chat-panel {
	height:300px;
}

#twitchChatVideoOverlay {
	height:calc(33%);
	width:calc(20%);
	display:none;
	left:calc(80%);
	top:calc(33%);
	z-index:1040;
}

#twitchChatVideoOverlay div:first-child {
	flex:1; 
	height:100%;
	display:flex;
	flex-direction:column-reverse;
}

#twitchChatVideoOverlay span {
	opacity: 0.25;
}

#twitchChatVideoOverlay span:hover {
	opacity: 1;
}

.twitch-chat-username, .twitch-chat-message {
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.twitch-chat-username {
	font-weight: 600;
}

.twitch-chat-emote {
	height:16px;
}

.nav-link.active {
    background-color:#232127;
    border-color:#232127;
}

.nav-link:not(.active) {
    background-color:rgb(100, 65, 164);
}

.badge-twitch {
    background-color:rgb(14, 155, 216);
    color:#fff;
}

.twitch-dark-purple-bkgrnd {
    background-color:#232127;
}

p, small, li, .nav-link, .nav-link.active {
    color: #b8b5c0;
}

::-webkit-scrollbar-track {
    background: #505050; 
}

#twitchChatVideoOverlay div::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #232127; 
}

::-webkit-scrollbar-thumb:hover {
    background: #b8b5c0; 
}