<div class="twitch-panel-width">
	<div [hidden]="!isPanelLoaded">
		<div id="twitch-player"></div>
		<div class="m-1" [hidden]="!channelSelected">
			<app-video-options [videoTitle]="streamTitle" (widescreen)="widescreenVideo()" (fullscreen)="fullscreenVideo()" (closescreen)="closeVideo()"></app-video-options>
			<small class="text-nowrap text-truncate d-inline">{{streamChannel}} - {{streamGame}}</small>
		</div>
		<div *ngIf="panelAuthenticated" [hidden]="channelSelected">
			<p class="h5 mb-2 text-center">Select a channel to start watching</p>
		</div>
		<button *ngIf="!panelAuthenticated" type="button" class="btn btn-success btn-block"
			(click)="authenticate()">Authenticate</button>
		<div id="twitchTabs" *ngIf="panelAuthenticated">
			<div class="row">
				<div class="col-12">
					<ul class="nav nav-tabs border-0">
						<li class="nav-item">
							<a class="nav-link" (click)="clickChannelsTab()"
								[class.active]="!channelSelected || !showChatTab" id="list-twitch-channels-list"
								data-toggle="list" href="#list-twitch-channels" role="tab"
								aria-controls="channels">Channels</a>
						</li>
						<li *ngIf="channelSelected" class="nav-item">
							<a class="nav-link" [class.active]="(channelSelected && showChatTab)"
								id="list-twitch-chat-list" data-toggle="list" href="#list-twitch-chat" role="tab"
								aria-controls="twitch-chat">Chat</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane show overflow-auto" [class.active]="!showChatTab" id="list-twitch-channels"
					role="tabpanel" aria-labelledby="list-twitch-channels-list">
					<ul id="twitchChannelList" class="list-group list-group-flush">
						<li class="list-group-item p-0 twitch-dark-purple-bkgrnd pointer" data-toggle="tooltip"
							title="{{followedStream.channelStatus}}" *ngFor="let followedStream of followedStreams"
							(click)="watchVideo(followedStream)">
							<div class="d-inline-block float-left m-1">
								<img src={{followedStream.channelLogo}} class="rounded" height="42" width="42">
							</div>
							<div class="d-flex-fill m-1">
								<div class="d-inline-block">
									<p class="h6 m-0">{{followedStream.channelDisplayName}}</p>
									<small>{{followedStream.game}}</small>
								</div>
								<div class="d-inline-block float-right m-2">
									<span class="badge badge-twitch badge-pill">{{followedStream.viewers}}</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="tab-pane show" [class.active]="showChatTab" id="list-twitch-chat" role="tabpanel"
					aria-labelledby="list-twitch-chat-list">
					<div id="twitch-chat-panel" class="overflow-auto twitch-panel-width text-secondary">
						<div *ngFor="let msg of chatMsgs">
							<p class="m-0 twitch-chat-username" [ngStyle]="{'color': msg.color}">{{msg.username}}: 
								<small class="twitch-chat-message">
									<ng-container *ngFor="let m of msg.msg">
										{{ !m.isEmote ? m.text : '' }}<img *ngIf="m.isEmote" class="twitch-chat-emote" [src]=emoteUrl(m.emoteId) title="{{m.text}}" />
									</ng-container>
								</small>	
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-panel-loading [isPanelLoaded]="isPanelLoaded"></app-panel-loading>
</div>

<div id="twitchChatVideoOverlay" class="position-absolute">
	<div class="overflow-x-hidden pb-2 pt-2" [style.background]="cpColor" [(cpToggle)]="cpToggle"
			[(colorPicker)]="cpColor" [cpColorMode]="'grayscale'" [cpPosition]="'left'" [cpPositionOffset]="'100%'" [cpDisableInput]="'true'">
		<p *ngFor="let msg of chatMsgs" class="m-0 twitch-chat-username" [ngStyle]="{'color': msg.color}">{{msg.username}}: 
			<small class="twitch-chat-message text-light">
				<ng-container *ngFor="let m of msg.msg">
					{{ !m.isEmote ? m.text : '' }}<img *ngIf="m.isEmote" class="twitch-chat-emote" [src]=emoteUrl(m.emoteId) title="{{m.text}}" />
				</ng-container>
			</small>
		</p>
	</div>
	<div class="d-flex flex-row mr-2">
		<div class="w-100"></div>
		<app-video-options-overlay [(cpToggle)]="cpToggle" [isFullscreen]="isFullscreen" (widescreen)="widescreenVideo()" (fullscreen)="fullscreenVideo()" (normalscreen)="reduceVideo()"></app-video-options-overlay>
	</div>
</div>