@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~octicons/build/build.css";
@import "assets/css/dark-theme.css";

.files-modalbox .mat-dialog-content {
	max-height: calc(95vh - 120px);
}

.settings-modalbox .mat-dialog-content{
	min-height: 50vh;
	min-width: 30vw;
}

.pointer {
	cursor: pointer;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track,
.scroll-light::-webkit-scrollbar-track {
    background: rgba(242, 245, 245, 0)
}

body::-webkit-scrollbar-thumb,
.scroll-light::-webkit-scrollbar-thumb {
    background: #505050; 
}

body::-webkit-scrollbar-thumb:hover,
.scroll-light::-webkit-scrollbar-thumb:hover {
    background: #d5d5d6; 
}